* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.nav-container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-img {
    width: 70px;
}

.brand-text {
    font-weight: 700;
    font-size: 16px;
}

.brand-text .orange {
    color: #ff7a2f;
}

/* اللينكات */

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}

.menu a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.menu a:hover {
    color: #ff7a2f;
}

/* ..hero................................
........................................... */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    background: #fafafa;
}


.hero-content h1 {
    font-size: 50px;
    font-weight: 700;
    color: #000;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-content p {
    color: #555;
    line-height: 1.7;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    text-decoration: none;
    padding: 12px 28px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;

}

.btn.orange {
    background: #ff7a2f;
    color: #fff;
}

.btn.black {
    background: #000;
    color: #fff;
}

.btn.orange:hover {
    background: #e76a1f;

}

.btn.black:hover {
    background: #333;

}

.hero-img img {
    width: 480px;
    border-radius: 20px;
}

/* services...................... */

.services {
    text-align: center;
    padding: 60px 100px;
}

.services h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.services-subtext {
    color: #777;
    margin-bottom: 40px;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;
}

.service-box {
    width: 320px;
    background: #fff;
    border: 1px solid #eee;
    padding: 30px 25px;
    border-radius: 8px;
    text-align: center;
}

.service-box .icon {
    width: 80px;
    margin-bottom: 15px;
    height: 80px;
}

.service-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.service-title {
    color: #ff7a2f;
}


.service-box p {
    color: #555;
    line-height: 1.6;
    font-size: 14px;
}


.read-more-wrapper {
    text-align: center;
}

.read-more-btn {
    background: #000;
    color: #fff;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.read-more-btn:hover {
    background: #333;
}

/* ...............................................................................
............................................................................. */

.fresh-fruits-rows {
    padding: 60px 90px;
}

.fresh-fruits-rows h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.top-text {
    text-align: center;
    color: #777;

    margin: 0 auto 50px;
}


.fruit-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    gap: 40px;
}

.fruit-text {
    width: 50%;
}

.fruit-text h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
}

.fruit-text p {
    color: #555;
    line-height: 1.7;
    margin-bottom: 20px;
}

.btn-buy {
    background: #000;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 4px;
}



.fruit-img img {
    width: 100px;
    height: 150px;
    border-radius: 10px;

}

.btn-buy:hover {
    background: #333;
}

/* ..................
.............. */
.background-photo {
    width: 100%;
    height: 350px;
    background-image: url("../assets/photos/tasty.png");
    background-size: cover;
    background-position: center;

}

.hero-photo-content h1 {
    color: white;
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    padding: 150px;
    letter-spacing: 4px;

}

/*      .............................
................................... */
.testimonial {
    background: #fafafa;
    padding: 60px 100px;
    text-align: center;
}

.test-name {
    font-size: 22px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* ===== Contact Us Section ===== */

.contact {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
}

.contact-left h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.contact-left input,
.contact-left textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 14px;
       outline: none;
}

.send-btn {
    background: #ff7a2f;
    color: #fff;
    padding: 10px 25px;
    border: none;
       border-radius: 4px;
   
}
.send-btn:hover {
    background: #e76a1f;
}
.contact-right img {
    width: 250px;
    border-radius: 10px;
}

